doctype html
html(data-ng-app="myApp" data-ng-csp="")

  include includes/head

  body
    header
    section
      .container
        .row
          .col-xs-12.col-sm-3
            p Hello World
    footer
    
    // script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    // script(src="http://getbootstrap.com/dist/js/bootstrap.min.js")
    script(src="../js/vendor/angular.min.js")
    script(src="../js/vendor/angular-route.min.js")
    script(src="../js/app.js")